.DS_Store
poster_measure.png
poster_tailwind_measure.html
poster_tailwind_natural_export.html
poster_tailwind_ratio_export.html
poster_preview/
tailwind_pdf_preview/
ratio_pdf_preview/
SWNet_tailwind_poster_natural.pdf
SWNet_tailwind_poster_chrome.pdf

